<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DedupAnalysis</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>LineChartServlet</servlet-name>
  <servlet-class>com.dedupanalysis.LineChartServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>LineChartServlet</servlet-name>
  <url-pattern>/fetchlinechart</url-pattern>
</servlet-mapping>

 <servlet>
  <servlet-name>DataBySizeServlet</servlet-name>
  <servlet-class>com.dedupanalysis.phase1.DataBySizeServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>DataBySizeServlet</servlet-name>
  <url-pattern>/ph1/ph1fetchbysize</url-pattern>
</servlet-mapping>

 <servlet>
  <servlet-name>DataByCountServlet</servlet-name>
  <servlet-class>com.dedupanalysis.phase1.DataByCountServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>DataByCountServlet</servlet-name>
  <url-pattern>/ph1/ph1fetchbycount</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>ph1wothersDataBySizeServlet</servlet-name>
  <servlet-class>com.dedupanalysis.phase1wothers.DataBySizeServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>ph1wothersDataBySizeServlet</servlet-name>
  <url-pattern>/ph1/ph1wothersfetchbysize</url-pattern>
</servlet-mapping>

 <servlet>
  <servlet-name>ph1wothersDataByCountServlet</servlet-name>
  <servlet-class>com.dedupanalysis.phase1wothers.DataByCountServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>ph1wothersDataByCountServlet</servlet-name>
  <url-pattern>/ph1/ph1wothersfetchbycount</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>ph1othersonlyDataBySizeServlet</servlet-name>
  <servlet-class>com.dedupanalysis.phase1wothers.OtherDataBySizeServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>ph1othersonlyDataBySizeServlet</servlet-name>
  <url-pattern>/ph1/ph1othersonlyfetchbysize</url-pattern>
</servlet-mapping>

 <servlet>
  <servlet-name>ph1othersonlyDataByCountServlet</servlet-name>
  <servlet-class>com.dedupanalysis.phase1wothers.OtherDataByCountServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>ph1othersonlyDataByCountServlet</servlet-name>
  <url-pattern>/ph1/ph1othersonlyfetchbycount</url-pattern>
</servlet-mapping>

 <servlet>
  <servlet-name>ph2TestServlet</servlet-name>
  <servlet-class>com.dedupanalysis.phase2.Ph2TestServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>ph2TestServlet</servlet-name>
  <url-pattern>/ph2/ph2testservlet</url-pattern>
</servlet-mapping>
 
 <servlet>
  <servlet-name>ph2matchedfilestats</servlet-name>
  <servlet-class>com.dedupanalysis.phase2.Ph2MatchedFileStats</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>ph2matchedfilestats</servlet-name>
  <url-pattern>/ph2/ph2matchedfilestats</url-pattern>
</servlet-mapping>
</web-app>